.drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 60vw;
  height: 100vh;
  z-index: 3;
  background: $themeColor;
  padding: 5vh 2vw;
  overflow-y: scroll;
  overflow-x: hidden;
  visibility: hidden;

  @include mq() {
    width: 80vw;
  }

  &--visible {
    visibility: visible;
  }

  &__list {
    padding: 3vh 2vw 6vh;
    li {
      margin: 10px;
      border-bottom: 1px solid rgba(255,255,255,0.2);
      text-align: center;

        a {
          padding: 4vh 5vw;
          width: 100%;
          display: block;
          letter-spacing: 2px;

          &:hover,
          &:active {
            color: #fff;
            transition: 0.3s;
          }
        }
    }
  }
  &__icon {
        padding: 5vh 5vw;
        top: 0;
        right: 0;
    li {
        img {
          width: 30px;
          filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.3));
        }
        button {
          padding: 10px;
        }
    }

    &.open {
        position: fixed;
    }
    &.close {
        position: absolute;

    }

  }

  &__title {
    text-align: center;
  }

&::-webkit-scrollbar,
&::-webkit-scrollbar-track,
&::-webkit-scrollbar-thumb {
  display: none;
}

}

.modal-overlay {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background: rgba(0,0,0,0.6);
  cursor: pointer;
}

.slide-enter-active {
  transition: all 0.8s ease;
}
.slide-leave-active {
  transition: all 0.8s ease;
}
.slide-enter, .slide-leave-to {
  transform: translateX(-100vw);
}

