.sns-icons{

  &__main {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      padding: 10px 20px;
        img {
          width: 30px;
          filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.3));
        }
        button {
          padding: 5px;
        }
    }
  }

  &__drawer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;

    li {
      padding: 10px 20px;
        img {
          width: 30px;
          filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.3));
        }
        button {
          padding: 5px;
        }
    }
  }

  &__footer {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      padding: 10px 20px;
        img {
          width: 30px;
          filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.3));
        }

    }
  }

}