$breakpoints: (
  'xs': 'screen and (max-width: 319px)',
  'sm': 'screen and (max-width: 399px)',
  'md': 'screen and (max-width: 767px)',
  'lg': 'screen and (max-width: 999px)',
  'xl': 'screen and (max-width: 1199px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

html{
  background: #000;
  // visibility: hidden;
}
html.wf-active {
  // visibility: visible;
}
body {
  overflow-y: scroll;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;       /* Firefox 対応 */
}
.container::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}

.container::-webkit-scrollbar-thumb {
  background: #000;
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}

// reset css
button {
  background: none;
  border: none;
  cursor: pointer;
}

img {
  vertical-align: bottom;
}

a, ul, li, p, h1, h2, h3, h4 {
  list-style-type: none;
  text-decoration: none;
  color: #fff;
  padding: 0;
  font-family: 'Helvetica';
}


//アニメーション背景
.a-bg {
  animation: fadeColor 40s linear infinite forwards;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  position: absolute;
  top: 0;
  z-index: 0;
}
@keyframes fadeColor {
  0% {
    background: red;
  }
  33% {
    background: yellow;
  }
  66% {
    background: blue;
  }
  100% {
    background: red;
  }
}
header,section,footer {
  position: relative;
}


.fade-enter-active {
  transition: all 0.8s ease;
}
.fade-leave-active {
  transition: all 0.8s ease;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}