$breakpoints: (
  'xs': 'screen and (max-width: 319px)',
  'sm': 'screen and (max-width: 399px)',
  'md': 'screen and (max-width: 767px)',
  'lg': 'screen and (max-width: 999px)',
  'xl': 'screen and (max-width: 1199px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

//set window max-width
$maxWidth: 1200px;
//set theme color
$themeColor: #111;
//set loot font size
$fontSize: 14px;

$spPadding: 5vw;

$primaryFontColor: #ccc;

html{
  // visibility: hidden;
}
html.wf-active {
  // visibility: visible;
}

html {
  font-family: 'Helvetica Neue', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,  Arial, sans-serif;
  font-size: $fontSize;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background: $themeColor;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  overflow-y: scroll;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;       /* Firefox 対応 */
}
.container::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}

.container::-webkit-scrollbar-thumb {
  background: $themeColor;
}

// reset css
button {
  background: none;
  border: none;
  cursor: pointer;
}

img {
  vertical-align: bottom;
  width: 100%;
}

a, ul, li, p, h1, h2, h3, h4 {
  list-style-type: none;
  text-decoration: none;
  color: $primaryFontColor;
  padding: 0;
  word-break: break-word;
}


//アニメーション背景
.a-bg {
  animation: fadeColor 40s linear infinite forwards;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  position: absolute;
  top: 0;
  z-index: 0;
}
@keyframes fadeColor {
  0% {
    background: red;
  }
  33% {
    background: yellow;
  }
  66% {
    background: blue;
  }
  100% {
    background: red;
  }
}
header,section,footer {
  position: relative;
}


// animation
// name: page
.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}

// name: fade
.fade-enter-active, .fade-leave-active {
  transition: all 0.8s ease;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

// name: fade
.titleslide-enter-active {
  transition: all 0.8s ease;
}
.titleslide-enter {
  opacity: 0;
}


.lower-page {
  max-width: $maxWidth;
  margin: auto;
  padding: $spPadding;

  &__title {
    font-size: 1.8rem;
    padding: 20px 0 50px;
  }
}